.cartPage {
  background: #eaeded;

  min-height: 100vh;

  padding: 30px;
}

.cartContainer {
  max-width: 1200px;

  margin: auto;

  background: white;

  padding: 25px;

  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cartTitle {
  font-size: 32px;

  margin-bottom: 25px;

  color: #111;
}

.cartItem {
  display: flex;

  align-items: center;

  gap: 20px;

  border-bottom: 1px solid #ddd;

  padding: 20px 0;
}

.cartImage {
  width: 140px;

  height: 140px;

  object-fit: contain;
}

.cartDetails {
  flex: 1;
}

.cartDetails h3 {
  font-size: 20px;

  margin-bottom: 10px;
}

.cartPrice {
  color: #b12704;

  font-size: 24px;

  font-weight: bold;
}

.qtyBox {
  display: flex;

  align-items: center;

  gap: 12px;

  margin-top: 12px;
}

.qtyBtn {
  background: #ffd814;

  border: none;

  padding: 8px 14px;

  border-radius: 6px;

  cursor: pointer;

  font-weight: bold;
}

.removeBtn {
  margin-top: 15px;

  background: #131921;

  color: white;

  border: none;

  padding: 10px 16px;

  border-radius: 6px;

  cursor: pointer;
}