/* =========================
   FOOTER
========================= */

.footer {
  background-color: #131a22;

  color: white;

  margin-top: 40px;
}


/* =========================
   BACK TO TOP
========================= */

.footerTop {
  background-color: #37475a;

  text-align: center;

  padding: 15px;

  transition: 0.3s;
}

.topBtn {

  background: transparent;

  border: none;

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s ease;
}

.topBtn:hover {

  color: #ffd814;

  transform: scale(1.05);
}

.footerTop:hover {
  background-color: #485769;
}


/* =========================
   FOOTER CONTAINER
========================= */

.footerContainer {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

  gap: 30px;

  max-width: 1200px;

  margin: auto;

  padding: 50px 30px;
}


/* =========================
   FOOTER SECTION
========================= */

.footerSection {
  display: flex;

  flex-direction: column;
}

.footerSection h3 {
  margin-bottom: 15px;

  font-size: 20px;

  color: #ffffff;
}

/* =========================
   FOOTER LINKS
========================= */

.footerSection p {

  margin: 8px 0;

  color: #dddddd;

  cursor: pointer;

  transition: 0.3s ease;

  font-size: 15px;

  width: fit-content;
}

.footerSection p:hover {

  color: #ffd814;

  text-decoration: underline;

  transform: translateX(5px);

  text-shadow:
    0 0 5px rgba(255,216,20,0.8);
}


/* =========================
   FOOTER BOTTOM
========================= */

.footerBottom {

  border-top: 1px solid #3a4553;

  text-align: center;

  padding: 20px;
}

.footerBottom h2 {

  margin-bottom: 10px;

  font-size: 24px;

  color: #febd69;

  cursor: pointer;

  transition: 0.3s ease;
}

.footerBottom h2:hover {

  color: #ffd814;

  text-shadow:
    0 0 8px rgba(255,216,20,0.8);
}

.footerBottom p {

  color: #cccccc;

  font-size: 14px;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

  .footerContainer {

    grid-template-columns: repeat(2, 1fr);

    text-align: center;
  }

  .footerSection {

    align-items: center;
  }
}

@media (max-width: 500px) {

  .footerContainer {

    grid-template-columns: 1fr;
  }
}